<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Suite">
    <test name="My Store tests">

        <classes>
            <class name="com.mystore.testscripts.Signup"/>
        </classes>
    </test> <!-- Test -->


</suite> <!-- Suite -->